@import 'base.scss';
.block {
    padding-top: 48px;
    height: 100%;
    overflow: auto;
    overscroll-behavior: contain;
}

.group {
    margin-bottom: 12px;
    &__title {
        font-weight: bold;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }

    @include element(content) {
      @include modifier(query) {
        padding-left: 5px;
      }
    }

    .sectionHeader {
        position: sticky;
        top: -48px;
    }
}

$section-header-height: 28px;
@include block(section) {
    position: relative;
    @include element(header) {
        background-color: $gray-1;
        cursor: pointer;
        z-index: 2;
    }
    @include element(actions) {
      position: absolute;
      top: 0;
      right: 5px;
      height: $section-header-height;
      z-index: 2;
    }
}

@include block(sectionHeader) {
    height: $section-header-height;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    @include element(icon) {
        display: inline-block;
        width: 22px;
        height: 22px;
    }
    @include element(label) {
      padding-left: 3px;
    }
}