@import 'base.scss';

@include block(ns(Book, dz)) {
  @include element(section) {
    padding-bottom: px-to-rem(128);
  }

  @include element(sidebarFirst) {
    position: fixed;
    width: 18%;
    padding-top: 0;
    max-height: 80%;
    overflow: auto;
  }
  @include element(sidebarOption) {
    &.active {
      color: white;
      background-color: #3c3c3b;
    }
  }
}
