@import 'base.scss';

@include block(MainLayout) {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--main-bg-color);

  @include state(sidebar, has) {
    flex-direction: row;
  }

  @include element(sidebar) {
    width: px-to-rem($site-sidebar-width);
    flex-shrink: 0;
    @include modifier(ads) {
      min-width: 0;
      width: percentage(200 / 1200);
      max-width: px-to-rem($site-adPanel-width);
      // @media(min-width: $screen-xxl-min) {
      //   flex-basis: px-to-rem($site-adPanel-width);
      //   width: px-to-rem($site-adPanel-width);
      // }
    }
    @include modifier(page) {
      width: auto;
      padding-left: px-to-rem(24);
      padding-right: px-to-rem(24);
    }
  }

  @include element(main) {
    flex-grow: 1;
    min-width: 0;

    @include modifier(base) {
      position: relative;
      min-height: calc(100vh - #{px-to-rem(50)});
      // border: 1px solid darken($main-container-bg-color, 5%);
      display: flex;
      flex-direction: column;
    }
    @include modifier(page) {
      margin-left: px-to-rem(24);
      margin-right: px-to-rem(24);
      margin-top: px-to-rem(118);
      padding-top: px-to-rem(12);
      border-top: 4px solid $gray-10;
      .ft-Block__title {
        font-size: px-to-rem(48);
      }
    }
  }

  @include element(header) {
    // margin-bottom: px-to-rem(24);
    padding-left: px-to-rem(24);
    padding-right: px-to-rem(24);
    background-color: var(--main-bg-color);
  }

  @include element(title) {
    border-bottom: px-to-rem(6) solid $gray-10;
  }
}

@include block(Site) {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  min-width: $page-min-width;

  @include modifier(fixedHeader) {
    padding-top: px-to-rem($header-height);
    // hhsmn: header-has-sub-menu
    &.hhsmn {
      padding-top: px-to-rem($header-height + 36);
    }

    @include element(header, true) {
        position: fixed;
        align-items: center;
        width: 100%;
        top: 0;
        left: 0;
        height: px-to-rem($header-height);
        background: white;
        z-index: $fixed-header-index;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    };
  }
  @include element(content) {
    flex: 1;
  }

  &.fixedWidth {
    // background-color: $gray-1;
    background-color: var(--main-bg-color);
    min-width: 0;
    @include element(header, true) {
      .ft-Navbar {
        max-width: $site-fixed-content-width;
        min-width: $site-fixed-content-width - 20px; // scrollbar
        margin: 0 auto;
      }
    }
    @include element(content, true) {
      max-width: $site-fixed-content-width;
      min-width: $site-fixed-content-width - 20px; // scrollbar
      margin: 0 auto;
      background-color: white;
    }
  }
}

.fixedWidth {
  @include block(MainLayout) {
    @include element(sidebar) {
      @include modifier(ads) {
        width: $site-fixed-adPanel-width;
      }
    }
  }
}