@import 'base.scss';

@include block(ns(BookCover, dz)) {
  position: relative;
  width: 100%;
  background: white;
  padding-top: percentage(280/216); // letter size
  @include pop-shadow();

  @include element(inner) {
    position: absolute;
    top: px-to-rem(24);
    left: 50%;
    transform: translateX(-50%);
    max-width: 45rem;
    width: 100%;
  }

  @include element(title) {
    height: px-to-rem(160);
  }

  @include element(summary) {
    margin-top: px-to-rem(48);
  }

  .dz-SummarySection {
    min-height: px-to-rem(240);
  }
}
