@import 'base.scss';

@include block(ns(ProgressBar, dz)) {
  width: px-to-rem(160);
  height: 4px;
  background-color: $gray-2;
  border-radius: 2px;
  position: relative;
  margin-top: 8px;

  @include element(inner) {
    height: 4px;
    background-color:  $gray-10;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width .2s ease;
  }
}