@import 'base.scss';

@mixin comment-page-couter {
  content: counter(commentpage);
  counter-increment: commentpage;
  text-align: right;
  color: $gray-8;
  font-size: px-to-rem(12);
  font-style: italic;
}

@include block(ns(CommentBundle, cm)) {
  margin-bottom: px-to-rem(24);
  @include state(content, no) {
    margin-bottom: 0;
  }
  @include element(noContentHint) {
    padding: px-to-rem(12);
    color: $gray-8;
    background: $gray-1;
    text-align: center;
  }
  @include element(sectionHeader) {
    position: relative;
    font-size: px-to-rem(20);
    font-family: $sans-serif-title-font;
    font-weight: bold;
    padding-left: px-to-rem(5);
    margin-bottom: .5em;
  }
}

@include block(ns(RootCommentForm, cm)) {
  margin-bottom: 12px;
  @include element(note) {
    font-size: px-to-rem($font-size-h5);
    font-family: $sans-serif-title-font;
    font-weight: bold;
    line-height: 1.5;
    padding-left: px-to-rem(5);
    margin-bottom: px-to-rem(5);
  }
  @include element(header) {
    font-size: px-to-rem(14);
    .ft-Username {
      margin-right: .5em;
    }
    .t-meta {
      margin-right: .5em;
    }
  }
  @include element(wrap) {
    display: flex;
    padding: px-to-rem(12);
    border: 1px solid $border-color;
    background: white;
  }
  @include element(avatar) {
    margin-right: px-to-rem(12);
  }
  @include element(main) {
    min-width: 0;
    flex: 1;
  }
  .cm-CommentForm {
    margin-bottom: 0;
  }
  .cm-CommentForm__input {
    padding-top: 0;
    padding-bottom: 0;
  }
  .cm-CommentForm__footer {
    margin-bottom: 0;
  }
}

@include block(ns(CommentSection, cm)) {
  .cm-CommentForm__input {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ft-Comment__content {
    ol {
      list-style: decimal;
    }
    ul {
      list-style: initial;
    }
  }
}

.cm-CommentSection + .cm-CommentSection_root {
  margin-top: px-to-rem(36);
}

@include block(ns(CommentSections, cm)) {
  @include modifier(page) {
    counter-reset: commentpage; 
  }
}

@include block(ns(CommentSectionStack, cm)) {
  position: relative;
  // min-height: 23em * 2;   // 
  $page-gap: 50px;
  @include element(header) {
    column-span: all; 
    height: 8px;
  }
  @include element(content) {
    padding-left: 5px;
    padding-right: 5px;
    min-height: 20em;
    width: calc(50% - #{$page-gap / 2} + 5px);
  } 
  @include element(footer) {
    column-span: all; 
    height: 3em;
    position: relative;
    &::before {
      @include comment-page-couter;
      position: absolute;
      right: calc(50% + 10px + 32px);
      top: 1em;
    }
  }
  .ft-Comment_subComment .ft-Comment__avatar {
    display: block;
  }
  .ft-Avatar {
    break-inside: avoid;
  }

  @include state(multi) {
    @include element(content, true) {
      column-gap: 50px;
      column-count: 2;
      width: 100%;
      min-height: auto;
    }
    @include element(footer, true) {
      &::after {
        @include comment-page-couter;
        position: absolute;
        right: calc(18px);
        top: 1em;
      }
    }
  }

  @include state(avatar, has) {
    @include element(true) {
      column-gap: 32px;
    }
  }
}