@import 'base.scss';

$dimzou-index-sticky-header-height: 50px;
$dimzou-grid-gap: 16px;
$dimzou-padding-top: 16px;

@mixin pp {
  padding-left: $dimzou-grid-gap;
  padding-right: $dimzou-grid-gap;
  padding-top: $dimzou-padding-top;
}

@include block(ns(DimzouIndex, p)) {
  display: flex;
  padding-left: 4px;
  
  @include element(side) {
    width: $site-fixed-nav-width;
  }

  @include element(sideInner) {
    @include pp;
    position: sticky;
    display: flex;
    flex-direction: column;
  }

  @include element(main) {
    @include pp;
    flex: 1;
    min-width: 0;
  }
  @include element(right) {
    padding-left: $dimzou-grid-gap;
    padding-right: $dimzou-grid-gap;
    padding-top: $dimzou-padding-top;
    width: 200px;
    // padding-left: px-to-rem(12);
    // padding-right: px-to-rem(12);
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 0;
    // padding-top: px-to-rem($dimzou-index-sticky-header-height);
  }

  @include element(filter) {
    margin-bottom: 12px;
  }

  @include element(noCategoryHint) {
    font-size: 14px;
    padding: 20px;
    background-color: $gray-1;
    margin-top: 40px;
  }

  // .InlineFilterForm {
  //   margin-top: 2px;
  //   max-width: 400px;
  //   margin-left: 12px;
  //   margin-right: 12px;
  //   @media (min-width: $screen-xxl-min) {
  //     max-width: px-to-rem(500);
  //   }
  // }
}
