@import 'base.scss';

@include block(ns(BlockSectionContainer, dz)) {
  counter-reset: para;
}

@include block(ns(BlockSection, dz)) {
  padding-left: 48px;
  margin-left: -48px;
  margin-right: 0;
  padding-top: px-to-rem(12);
  position: relative;
  @include clearfix;

  @include modifier(summary) {
    margin-bottom: px-to-rem(24);

    // should sync with typo.scss summary
    .dz-Typo {
      color: $gray-8;
      font-style: italic;
    }
  }

  @include element(leading) {
    position: absolute;
    right: calc(100% - #{px-to-rem(48 - 8)});
    z-index: 10;
    // .ft-Avatar {
    //   width: px-to-rem(28);
    //   height: px-to-rem(28);
    // }
  }

  @include modifier(content) {
    counter-increment: para;

    @include element(paraNum, true) {
      font-family: $serif-title-font;
      color: $color-secondary;
      font-size: px-to-rem(14);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-style: italic;
      padding-right: px-to-rem(8);
      height: px-to-rem(24);
      // position: absolute;
      // right: calc(100% - #{px-to-rem(24)});

      &::before {
        content: counter(para);
        // color: $color-primary;
      }
    }
  }

  @include modifier(origin) {
    @include element(paraNum, true) {
      color: $origin-theme-color;
    }
  }

  @include modifier(translation) {
    @include element(paraNum, true) {
      color: $translation-theme-color;
    }
  }

  @include modifier(todo) {
    @include element(paraNum, true) {
      color: $gray-5;
    }
  }

  @include element(currentAvatar) {
    position: absolute;
    left: 0;
  }

  @include element(main) {
    .cm-CommentBundle {
      position: relative;
      z-index: 100;
      margin-bottom: 0px;
      margin-left: px-to-rem(-5);
      margin-right: px-to-rem(-5);
      margin-top: px-to-rem(8);
    }
    .cm-RootCommentForm__wrap {
      width: 50%;
    }
    .cm-RootCommentForm__avatar > .ft-Avatar {
      width: px-to-rem(28);
      height: px-to-rem(28);
    }
    .cm-RootCommentForm__note,
    .cm-CommentBundle__sectionHeader {
      font-size: px-to-rem(18);
    }
    .cm-CommentSection + .cm-CommentSection_root {
      margin-top: 2rem;
    }
  }

  @include element(anchor) {
    position: relative;
    top: -60px;
    visibility: hidden;
  }

  @include element(pendingRecords) {
    margin-top: px-to-rem(12);
  }

  @include element(mask) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include modifier(pending) {
    @include element(rejectedRecords, true) {
      margin-top: px-to-rem(12);
      .dz-Rewording {
        background-color: transparent;
      }
    }
  }

  @include modifier(rejected) {
    @include element(wrapper, true) {
      background-color: $deleted-bg-color;
      margin-bottom: px-to-rem(24);
    }
  }

  @include modifier(placeholder) {
    margin-bottom: px-to-rem(36);
    .dz-Typo {
      opacity: 0.5;
    }
  }

  @include modifier(deleted) {
    @include element(wrapper, true) {
      padding-left: px-to-rem(12);
      padding-right: px-to-rem(12);
      padding-top: px-to-rem(12);
      background-color: $deleted-bg-color;
    }
    @include element(footer, true) {
      margin-left: px-to-rem(-12);
      margin-right: px-to-rem(-12);
    }
  }

  @include element(edit) {
    position: relative;
  }

  @include element(loadingMask) {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: 'loading...';
    }
  }

  @include element(origin) {
    margin-bottom: px-to-rem(24);
    opacity: 0.8;
  }

  @include element(footer) {
    @include modifier(deleted) {
      margin-right: px-to-rem(-24);
    }
  }

  @include element(togglePanel) {
    margin-left: px-to-rem(28);
    @include modifier(deleted) {
      margin-left: 0;
      overflow: hidden;
    }
  }
  @include element(pendingRecords) {
  }
  @include element(toggle) {
    @include state(expanded) {
      transform: rotate(-180deg);
    }
  }

  @include element(dropzone) {
    position: relative;
    img {
      transition: 0.3s ease;
    }
    @include state(over) {
      border-radius: 3px;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px dashed #7e97ba;
        background-color: rgba(166, 221, 253, 0.479);
        border-radius: 3px;
      }
      img {
        transform: scale(0.98);
      }
    }
  }

  @include element(sectionTitle) {
    font-size: px-to-rem(16);
    font-style: italic;
    color: $gray-8;
    margin-top: px-to-rem(12);
    margin-bottom: px-to-rem(8);
  }

  @include element(historicList) {
    margin-top: px-to-rem(12);
    margin-bottom: px-to-rem(24);
  }
  @include element(rejectedList) {
    margin-top: px-to-rem(12);
    margin-bottom: px-to-rem(24);
  }
  @include element(subTitle) {
    font-size: px-to-rem(18);
    font-family: $sans-serif-title-font;
    font-style: italic;
    font-weight: bold;
    margin-bottom: px-to-rem(12);
    margin-top: px-to-rem(36);
  }

  @include element(line) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: px-to-rem(24);
  }

  // // reset
  // .dz-Typo {
  //   h1:last-child,
  //   h2:last-child,
  //   figure:last-child,
  //   pre:last-child,
  //   p:last-child,
  //   .public-DraftStyleDefault-unstyled:last-child {
  //     margin-bottom: 0;
  //   }
  // }

  // Tablet
  @media (max-width: $screen-xs-max) {
    margin-left: 0;
    @include element(footer) {
      margin-left: -2em;
    }
  }

  // Phone
  @media (max-width: $screen-xxs-max) {
    @include element(togglePanel) {
      margin-left: -2em;
    }

    .dz-ParaTailing {
      input {
        width: 20px;
      }
    }
  }

  // Small Desktop
  @media (min-width: $screen-sm-min) {
  }
  // Medium Desktop
  @media (min-width: $screen-md-min) {
  }
  // Large Desktop
  @media (min-width: $screen-lg-min) {
  }
  // Extra Large Desktop
  @media (min-width: $screen-xl-min) {
  }
  // Extreme Large Desktop
  @media (min-width: $screen-xxl-min) {
  }
}

@include block(ns(rewordings, dz)) {
  &.isHide {
    display: none;
  }
}

@include block(ns(BlockSectionFooter, dz)) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-top: px-to-rem(14);
  height: px-to-rem(40);
  padding-right: px-to-rem(16);

  @include element(action) {
    margin-right: px-to-rem(24);
    display: inline-block;
  }
  @include element(btn) {
    margin-left: px-to-rem(24);
    width: px-to-rem(32);
    height: px-to-rem(32);
  }
}

@include block(ns(BlockSectionCurrent, dz)) {
  position: relative;
  margin-left: px-to-rem(-48);
  padding-left: px-to-rem(48);
  @include element(avatar) {
    position: absolute;
    right: calc(100% - #{px-to-rem(48 - 8)});
    top: 0;
    @include modifier(origin) {
      padding-top: px-to-rem(20);
    }
  }
  @include element(main) {
  }
  @include element(userInfo) {
    height: px-to-rem(24);
    display: flex;
    align-items: center;
    font-size: px-to-rem(14);
    span {
      display: inline-block;
      margin-right: 12px;
    }
  }
  @include element(username) {
    color: $color-secondary;
  }
  @include element(expertise) {
    color: $color-tertiary;
  }
  @include element(date) {
    color: $gray-6;
  }
  @include element(content) {
    padding-top: px-to-rem(8);
    padding-bottom: px-to-rem(8);
  }
}

// .dz-BlockSectionFooter + .dz-BlockSection__sectionTitle {
//   margin-top: px-to-rem(12);
// }
@keyframes highlighted-block-fade {
  0% {
    background-color: var(--yellow-100);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
.highlighted-block {
  animation: highlighted-block-fade 3s;
  animation-timing-function: ease-out;
}

// 展示区域的样式
@include block(ns(ContentPreviewRegion, dz)) {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

// 编辑区域的样式
@include block(ns(ContentEditRegion, dz)) {
  div[data-contents="true"] {
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}