
// Text Block Style
// =======================

@include block(ns(Typo, cm)) {
    p,
    ul,
    ol {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  
    li > ol,
    li > ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    ul,
    ol {
      padding-left: 1.5em;
    }
  
    .public-DraftStyleDefault-unstyled {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  
    .public-DraftStyleDefault-ul,
    .public-DraftStyleDefault-ol {
      padding-left: 0;
    }
  }
  