@import 'base.scss';

@include block(LikeWidget) {
  display: flex;
  align-items: center;

  @include element(avatars) {
    margin-right: px-to-rem(12);
  }
  @include element(btn, true) {
    margin-right: px-to-rem(5);
  }

  @include modifier(withDetail) {
    display: flex;
    @include element(wrap, true) {
      line-height: 1;
    }
    @include element(btn, true) {
      margin-right: px-to-rem(8);
      width: px-to-rem(32);
      height: px-to-rem(32);
    }
    @include element(label, true) {
      display: block;
      font-size: px-to-rem(14);
    }
    @include element(count, true) {
      font-size: px-to-rem(14);
      line-height: 1.5;
    }
  }
}
