@import 'base.scss';

@include block(ns(ViewWork, dz)) {
  @include element(cover) {
    background-size: cover;
    background-position: center;
  }
  @include element(section) {
    margin-top: px-to-rem(48);
    margin-bottom: px-to-rem(48);
  }
  @include element(main) {
    padding-bottom: px-to-rem(128);
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: px-to-rem(4);
      background: $gray-9;
      position: absolute;
      bottom: px-to-rem(16);
    }
  }
  @include element(contentWrap) {
    // font-size: px-to-rem(20);
    // line-height: 1.8;
    // font-family: Georgia, 'PingFang SC', 'Heiti SC', 'Microsoft Yahei', simsun,
    //   sans-serif;
    max-width: px-to-rem(720);
    width: 100%;
    margin: 0 auto;
    @include modifier(footer) {
      display: flex;
      justify-content: flex-end;
    }
    // @include block(ns(Article, typo)) {
    //   @include element(title) {
    //     font-weight: 400;
    //     font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    //     font-size: px-to-rem(48);
    //     line-height: 1.45;
    //   }
    //   @include element(summary) {
    //     font-size: px-to-rem(22);
    //     font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
    //       Geneva, Arial, sans-serif;
    //   }
    // }
  }
  @include element(recommendations) {
    margin-top: px-to-rem(36);
  }

  @include element(footer) {
    margin-top: px-to-rem(96);
    margin-bottom: px-to-rem(96);
  }
  @include element(infoFooter) {
    display: flex;
    justify-content: flex-end;
    @include modifier(option) {
      padding-left: px-to-rem(16);
    }
    @include modifier(label) {
      font-size: px-to-rem(18);
      color: $gray-9;
    }
    @include modifier(value) {
      font-size: px-to-rem(16);
      color: $gray-6;
    }
  }
  @include element(sectionTitle) {
    font-family: $sans-serif-heading-font;
    font-size: px-to-rem($view-section-title-font-size);
    border-bottom: 3px solid $gray-10;
    margin-bottom: px-to-rem(12);
  }
  @include element(translate) {
    margin-top: px-to-rem(10);
    margin-right: px-to-rem(24);
    min-height: px-to-rem(32);
    .ft-IconButton {
      width: px-to-rem(32);
      height: px-to-rem(32);
    }
  }
  @include element(likes) {
    margin-top: px-to-rem(12);
    display: flex;
    min-height: px-to-rem(32);
  }
  @include element(likesLabel) {
    line-height: px-to-rem(32);
    margin-right: px-to-rem(12);
  }
  @include element(share) {
    margin-top: px-to-rem(12);
    margin-left: px-to-rem(16);
    margin-right: px-to-rem(32);
    .ft-IconButton {
      width: px-to-rem(32);
      height: px-to-rem(32);
    }
  }

  @include element(toolBtn) {
    display: flex;
    align-items: center;
    margin-right: px-to-rem(24);
    margin-top: px-to-rem(10);
    button {
      border: 1px solid $gray-6;
      border-radius: px-to-rem(14);
      padding: 0 px-to-rem(10);
    }
  }
  .LikeToggle {
    margin-top: px-to-rem(4);
  }

  @include element(reading) {
    font-size: px-to-rem(16);
    color: $gray-6;
    &:hover {
      color: $gray-9;
    }
  }

  @include element(dragComment) {
    position: fixed;
    bottom: px-to-rem(100);
    right: px-to-rem(100);
    border: 1px dashed $gray-4;
  }
}

@include block(ns(ViewWorkBrief, dz)) {
  padding-top: px-to-rem(36);
  padding-bottom: px-to-rem(54);
  border-top: 4px solid $gray-10;
  

  @include element(header) {
    display: flex;
  }
  @include element(content) {
    flex-basis: 55%;
    &.typo-Article {
      font-size: px-to-rem(16);
      h1 {
        margin-top: -6px;
        margin-bottom: 0;
      }
    }
  }
  @include element(title) {
    // font-size: px-to-rem(48);
    padding-right: px-to-rem(12);
  }
  @include element(summary) {
    padding-right: px-to-rem(12);
    position: relative;
  }
  @include element(coverWrap) {
    flex-basis: 45%;
  }
  @include element(cover) {
    background-size: cover;
    padding-top: percentage(9 / 16);
  }
  @include element(readMore) {
    color: #c1272d;
    font-family: $serif-title-font;
    cursor: pointer;
    text-align: right;
    padding-right: px-to-rem(12);
  }

  @include element(pointer) {
    cursor: pointer;
  }

  @include block(ns(Article, typo)) {
    margin-top: px-to-rem(12);
    @include element(info) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    @include element(avatar) {
      margin: 0;
      width: 35%;
    }
    @include element(meta) {
      margin: 0;
      flex-basis: 45%;
      display: flex;
    }
    @include element(summary) {
      margin-bottom: 0;
      p {
        margin-bottom: px-to-rem(6);
      }
    }
  }
}
