@import 'base.scss';

@include block(ns(DimzouOutline, dz)) {
  padding-left: 12px;
  @include state(content, has) {
    // margin-top: 20px;
  }
  @include element(heading) {
    display: block;
    // padding-left: calc(1em * (var(--heading-level) - 1));
    color: inherit;
    @include text-truncate;

    &.active {
      font-weight: bold;
    }
    
    @include modifier(2) {
      // font-weight: bold;  
    }
    @include modifier(3) {
      
    }
    @include modifier(4) {
      
    }
  }
  @include element(actions) {
    float: right;
    // margin-right: px-to-rem(8);
  }
  @include element(action) {
    width: px-to-rem(24);
    height: px-to-rem(24);
  }
}