@import 'base.scss';

@keyframes like-heartbeat {
	0%   {transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);}
	10% {transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);}
	18%   {transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);}
	100%   {transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);}
}

@include block(LikeToggle) {
  padding: px-to-rem(1);
  line-height: 0;
  @include state(liking) {
    animation: 1s linear 0s infinite like-heartbeat;
    pointer-events: none;
  }
  @include state(active) {
    .icon-heart__storke {
      fill: transparent;
    }
    .icon-heart__fill {
      fill: #c1272d;
    }
  }
}

.icon-heart__fill:hover {
  fill: #c1272d;
}