@import 'base.scss';

$padding-vertical: 12px;
$sidebar-first-width: 360;
$sidebar-second-width: 280;
$sidebar-third-width: 280; // ads-panel;

@include block(ns(TemplateI, dz)) {
  display: flex;
  flex: 1;
  // min-height: calc(100vh - 3rem);

  @include element(cover) {
    margin-bottom: px-to-rem(16);
  }
  @include element(mainContainer) {
    flex: 1;
    min-width: 0;
  }
  @include element(mainWrap) {
    display: flex;
  }
  @include element(main) {
    flex: 1;
    min-width: 0;
    padding-left: px-to-rem(16);
    padding-right: px-to-rem(16);
  }

  &__sidebarFirst,
  &__sidebarSecond,
  &__sidebarThird {
    display: none;
  }

  // Tablet
  @media (max-width: $screen-xs-max) {
  }

  // Phone
  @media (max-width: $screen-xxs-max) {
  }

  // Small Desktop
  @media (min-width: $screen-sm-min) {
  }
  // Medium Desktop
  @media (min-width: $screen-md-min) {
  }
  // Large Desktop
  @media (min-width: $screen-lg-min) {
    &__sidebarFirst,
    &__sidebarSecond {
      display: block;
    }

    @include element(main) {
      padding-left: 0;
      padding-right: 0;
    }

    @include element(sidebarFirst) {
      width: percentage($sidebar-first-width / 1880);
      padding-left: px-to-rem(24);
      margin-right: px-to-rem(40);
    }
    @include element(sidebarSecond) {
      width: percentage($sidebar-second-width / (1880 - $sidebar-first-width));
      margin-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      // width: percentage($sidebar-third-width / (1880 - $sidebar-first-width));
    }
  }
  // Extra Large Desktop
  @media (min-width: $screen-xl-min) {
    &__sidebarThird {
      display: block;
    }
  }
  // Extreme Large Desktop
  @media (min-width: $screen-xxl-min) {
    @include element(sidebarFirst) {
      width: px-to-rem($sidebar-first-width);
    }
    @include element(sidebarSecond) {
      width: px-to-rem($sidebar-second-width);
    }
    @include element(sidebarThird) {
      width: px-to-rem($sidebar-third-width);
    }
  }
}

// Template II
// ----------------

@include block(ns(TemplateII, dz)) {
  display: flex;
  // min-height: calc(100vh - 3rem);
  flex: 1;

  @include element(mainContainer) {
    flex: 1;
    min-width: 0;
  }
  @include element(mainWrap) {
    display: flex;
  }
  @include element(main) {
    flex: 1;
    min-width: 0;
    padding-left: px-to-rem(16);
    padding-right: px-to-rem(16);
  }
  @include element(cover) {
    margin-bottom: px-to-rem(16);
  }

  &__sidebarFirst,
  &__sidebarSecond,
  &__sidebarThird {
    display: none;
  }

  // Small Desktop
  @media (min-width: $screen-sm-min) {
  }
  // Medium Desktop
  @media (min-width: $screen-md-min) {
  }
  // Large Desktop
  @media (min-width: $screen-lg-min) {
    // max-width: calc(100vw - 3rem);
    &__sidebarFirst,
    &__sidebarSecond {
      display: block;
    }
    @include element(main) {
      padding-left: 0;
      padding-right: 0;
    }
    @include element(sidebarFirst) {
      width: percentage($sidebar-first-width / (1880 - $sidebar-third-width));
      padding-left: px-to-rem(24);
      margin-right: px-to-rem(40);
    }
    @include element(sidebarSecond) {
      width: percentage($sidebar-second-width / (1880 - $sidebar-third-width));
      margin-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      // width: percentage($sidebar-third-width / 1880);
    }
  }
  // Extra Large Desktop
  @media (min-width: $screen-xl-min) {
    &__sidebarThird {
      display: block;
    }
  }
  // Extreme Large Desktop
  @media (min-width: $screen-xxl-min) {
    @include element(sidebarFirst) {
      width: px-to-rem($sidebar-first-width);
      padding-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarSecond) {
      width: px-to-rem($sidebar-second-width);
      margin-left: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      width: px-to-rem($sidebar-third-width);
      margin-left: px-to-rem($padding-vertical * 2);
    }
  }
}

@include block(ns(TemplateIII, dz)) {
  // min-height: calc(100vh - 3rem);
  flex: 1;

  @include element(header) {
    display: flex;
    margin-bottom: px-to-rem(48);
  }
  @include element(titleSection) {
    width: 44%;
    padding-left: px-to-rem($padding-vertical * 4);
    padding-right: px-to-rem($padding-vertical * 4);
  }
  @include element(cover) {
    width: 56%;
    flex-shrink: 0;
  }
  @include element(mainContainer) {
    display: flex;
  }
  @include element(mainWrap) {
    display: flex;
    flex: 1;
    min-width: 0;
  }
  @include element(main) {
    flex: 1;
    min-width: 0;
    padding-left: px-to-rem(16);
    padding-right: px-to-rem(16);
  }

  &__sidebarFirst,
  &__sidebarSecond,
  &__sidebarThird {
    display: none;
  }

  .dz-Edit__chapterContent {
    min-height: px-to-rem(600);
  }

  // Tablet
  @media (max-width: $screen-xs-max) {
  }

  // Phone
  @media (max-width: $screen-xxs-max) {
  }

  // Small Desktop
  @media (min-width: $screen-sm-min) {
  }
  // Medium Desktop
  @media (min-width: $screen-md-min) {
  }
  // Large Desktop
  @media (min-width: $screen-lg-min) {
    // max-width: calc(100vw - 3rem);

    &__sidebarFirst,
    &__sidebarSecond {
      display: block;
    }

    @include element(main) {
      padding-left: 0;
      padding-right: 0;
    }

    @include element(sidebarFirst) {
      width: percentage($sidebar-first-width / (1880 - $sidebar-third-width));
      padding-left: px-to-rem(24);
      margin-right: px-to-rem(40);
    }
    @include element(sidebarSecond) {
      width: percentage($sidebar-second-width / (1880 - $sidebar-third-width));
      margin-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      // width: percentage($sidebar-third-width / 1880);
    }
  }
  // Extra Large Desktop
  @media (min-width: $screen-xl-min) {
    &__sidebarThird {
      display: block;
    }
  }
  // Extreme Large Desktop
  @media (min-width: $screen-xxl-min) {
    @include element(sidebarFirst) {
      width: px-to-rem($sidebar-first-width);
      padding-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarSecond) {
      width: px-to-rem($sidebar-second-width);
      margin-left: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      width: px-to-rem($sidebar-third-width);
      margin-left: px-to-rem($padding-vertical * 2);
    }
  }
}

@include block(ns(TemplateIV, dz)) {
  display: flex;
  // min-height: calc(100vh - 3rem);
  flex: 1;

  &__sidebarFirst,
  &__sidebarSecond,
  &__sidebarThird {
    display: none;
  }

  @include element(mainContainer) {
    flex: 1;
    min-width: 0;
    display: flex;
  }
  @include element(main) {
    padding-top: px-to-rem(16);
    flex: 1;
    padding-left: px-to-rem(16);
    padding-right: px-to-rem(16);
  }

  // Small Desktop
  @media (min-width: $screen-sm-min) {
  }
  // Medium Desktop
  @media (min-width: $screen-md-min) {
  }
  // Large Desktop
  @media (min-width: $screen-lg-min) {
    // max-width: calc(100vw - 3rem);
    &__sidebarFirst,
    &__sidebarSecond {
      display: block;
    }

    @include element(main) {
      padding-left: 0;
      padding-right: 0;
    }
    @include element(sidebarFirst) {
      width: percentage($sidebar-first-width / (1880 - $sidebar-third-width));
      padding-left: px-to-rem(24);
      margin-right: px-to-rem(40);
      flex-shrink: 0;
    }
    @include element(sidebarSecond) {
      width: percentage($sidebar-second-width / (1880 - $sidebar-third-width));
      margin-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      // width: percentage($sidebar-third-width / 1880);
    }
  }
  // Extra Large Desktop
  @media (min-width: $screen-xl-min) {
    &__sidebarThird {
      display: block;
    }
  }
  // Extreme Large Desktop
  @media (min-width: $screen-xxl-min) {
    @include element(sidebarFirst) {
      width: px-to-rem($sidebar-first-width);
      padding-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
      flex-shrink: 0;
    }
    @include element(sidebarSecond) {
      width: px-to-rem($sidebar-second-width);
      margin-left: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      width: px-to-rem($sidebar-third-width);
      margin-left: px-to-rem($padding-vertical * 2);
    }
  }
}

@include block(ns(TemplateV, dz)) {
  // min-height: calc(100vh - 3rem);
  flex: 1;

  &__sidebarFirst,
  &__sidebarSecond,
  &__sidebarThird {
    display: none;
  }

  @include element(header) {
    margin-bottom: px-to-rem(16);
  }
  @include element(titleSection) {
    width: 44%;
    padding-left: px-to-rem($padding-vertical * 2);
    padding-right: px-to-rem($padding-vertical * 2);
  }
  @include element(mainContainer) {
    display: flex;
  }
  @include element(mainWrap) {
    display: flex;
    flex: 1;
    min-width: 0;
  }
  @include element(main) {
    flex: 1;
    min-width: 0;
    padding-left: px-to-rem(16);
    padding-right: px-to-rem(16);
  }

  // Small Desktop
  @media (min-width: $screen-sm-min) {
  }
  // Medium Desktop
  @media (min-width: $screen-md-min) {
  }
  // Large Desktop
  @media (min-width: $screen-lg-min) {
    // max-width: calc(100vw - 3rem); // site_content padding hack
    &__sidebarFirst,
    &__sidebarSecond {
      display: block;
    }
    @include element(main) {
      padding-left: 0;
      padding-right: 0;
    }
    @include element(sidebarFirst) {
      width: percentage($sidebar-first-width / (1880 - $sidebar-third-width));
      padding-left: px-to-rem(16);
      margin-right: px-to-rem(40);
    }
    @include element(sidebarSecond) {
      width: percentage($sidebar-second-width / (1880 - $sidebar-third-width));
      margin-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      // width: percentage($sidebar-third-width / 1880);
    }
  }
  // Extra Large Desktop
  @media (min-width: $screen-xl-min) {
    &__sidebarThird {
      display: block;
    }
  }
  // Extreme Large Desktop
  @media (min-width: $screen-xxl-min) {
    @include element(sidebarFirst) {
      width: px-to-rem($sidebar-first-width);
      padding-left: px-to-rem($padding-vertical * 2);
      margin-right: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarSecond) {
      width: px-to-rem($sidebar-second-width);
      margin-left: px-to-rem($padding-vertical * 2);
    }
    @include element(sidebarThird) {
      width: px-to-rem($sidebar-third-width);
      margin-left: px-to-rem($padding-vertical * 2);
    }
  }
}

@include block(ns(TemplateBase, dz)) {
  display: flex;
  min-height: calc(100vh - 60px);
  @include element(sidebarFirst) {
    width: px-to-rem($sidebar-first-width);
    padding-left: px-to-rem($padding-vertical * 2);
    padding-right: px-to-rem($padding-vertical * 2);
  }
  @include element(main) {
    flex: 1;
    padding-right: px-to-rem($padding-vertical * 2);
  }
  @include element(sidebarSecond) {
    width: 0;
    display: none;
  }
  @include element(sidebarThird) {
    width: px-to-rem($sidebar-third-width);
    margin-left: px-to-rem($padding-vertical * 2);
  }
}
